@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Gravitas+One&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #5b00ff;
    color: #ff00c8;
    font-family: "Dela Gothic One", sans-serif;
    font-weight:200;
    font-style: normal;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid red 10px; */
}
h2{
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
fieldset{
    /* border: solid 10px pink ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px;
    height: 400px; */
    padding: 30px;
    border-radius: 20px;
    border:solid 10px;
}
#enterANumber{
    font-size:x-large;
    margin: 0 20px 20px 20px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border: none;
    font-size: 40px;
    border-radius: 7px;
    background: #ff00c8;
    text-align:center;
}
#convert-btn{
    font-size: xx-large;
    padding: 10px;
    /* margin-top: 30px; */
    border: none;
    width: 100%;
    border-radius: 10px;
    background:#ff00c8;
}
#hidden{
    display: none;
}
#main-container-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#output-txt{
    text-align: center;
    font-size: xx-large;
}
