*{
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid red 10px; */
}
h2{
    font-weight: bold;
    font-size: 50px;
}
fieldset{
    /* border: solid 10px pink ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 500px;
    height: 400px; */
    padding: 30px;
    border-radius: 20px;
}
#enterANumber{
    font-size:x-large;
    margin: 0 20px 20px 20px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    border: gray 1px solid;
    font-size: 40px;
    border-radius: 7px;
}
#convert-btn{
    font-size: large;
    padding: 10px;
    /* margin-top: 30px; */
    border: none;
    width: 100%;
    border-radius: 10px;
}
#hidden{
    display: none;
}
#main-container-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#output-txt{
    text-align: center;
    font-size: xx-large;
}